# --- DATA SENSITIF & KREDENSIAL ---
.env
.streamlit/secrets.toml

# --- VIRTUAL ENVIRONMENT & PYTHON ---
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class

# --- MACHINE LEARNING & NOTEBOOKS ---
.ipynb_checkpoints/
*.log
# models/  <-- Jangan di-ignore dulu agar hawa_v1.pkl terkirim ke Streamlit Cloud

# --- SYSTEM & EDITORS ---
.vscode/
.idea/
.DS_Store
Thumbs.db